src/conf/xml-resources/web-service-references/Servicio/wsdl/localhost_8084/AV_WS/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8084/AV_WS/Servicio?xsd=1" />
</xsd:schema>
</types>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario" />
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse" />
</message>
<message name="obtenerPaises">
<part name="parameters" element="tns:obtenerPaises" />
</message>
<message name="obtenerPaisesResponse">
<part name="parameters" element="tns:obtenerPaisesResponse" />
</message>
<message name="obtenerClimaSemana">
<part name="parameters" element="tns:obtenerClimaSemana" />
</message>
<message name="obtenerClimaSemanaResponse">
<part name="parameters" element="tns:obtenerClimaSemanaResponse" />
</message>
<message name="obtenerClimaHoy">
<part name="parameters" element="tns:obtenerClimaHoy" />
</message>
<message name="obtenerClimaHoyResponse">
<part name="parameters" element="tns:obtenerClimaHoyResponse" />
</message>
<message name="obtenerCiudades">
<part name="parameters" element="tns:obtenerCiudades" />
</message>
<message name="obtenerCiudadesResponse">
<part name="parameters" element="tns:obtenerCiudadesResponse" />
</message>
<portType name="Servicio">
<operation name="validarUsuario">
<input wsam:Action="http://ws/Servicio/validarUsuarioRequest" message="tns:validarUsuario" />
<output wsam:Action="http://ws/Servicio/validarUsuarioResponse" message="tns:validarUsuarioResponse" />
</operation>
<operation name="obtenerPaises">
<input wsam:Action="http://ws/Servicio/obtenerPaisesRequest" message="tns:obtenerPaises" />
<output wsam:Action="http://ws/Servicio/obtenerPaisesResponse" message="tns:obtenerPaisesResponse" />
</operation>
<operation name="obtenerClimaSemana">
<input wsam:Action="http://ws/Servicio/obtenerClimaSemanaRequest" message="tns:obtenerClimaSemana" />
<output wsam:Action="http://ws/Servicio/obtenerClimaSemanaResponse" message="tns:obtenerClimaSemanaResponse" />
</operation>
<operation name="obtenerClimaHoy">
<input wsam:Action="http://ws/Servicio/obtenerClimaHoyRequest" message="tns:obtenerClimaHoy" />
<output wsam:Action="http://ws/Servicio/obtenerClimaHoyResponse" message="tns:obtenerClimaHoyResponse" />
</operation>
<operation name="obtenerCiudades">
<input wsam:Action="http://ws/Servicio/obtenerCiudadesRequest" message="tns:obtenerCiudades" />
<output wsam:Action="http://ws/Servicio/obtenerCiudadesResponse" message="tns:obtenerCiudadesResponse" />
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="validarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerPaises">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerClimaSemana">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerClimaHoy">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerCiudades">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8084/AV_WS/Servicio" />
</port>
</service>
</definitions>